*.pyc
__pycache__/

# Virtual environments
venv_rescue/
venv_rescue_bak/
venv_rescuecd/

# Large directories
ckpt/
data/
isaacgym/
output/
log/
wandb/

# Archives / compressed files
*.zip
*.tar
*.tar.gz
*.gz

# Logs
*.log
